html,
body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}

.body {
  color: grey;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_row.call_body {
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
  height: 70px;
  transition: all 0.1s ease-in-out;
}

.flex_row.call_body.extended {
  height: 80px;
  transition: all 0.1s ease-in-out;
}

.call_vie {
  font-size: 10px;
}

.call_duration {
  font-size: 10px;
}

.call_type {
  font-size: 10px;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.call_date {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.call_from {
  color: #000;
  font-weight: 900;
}

.fa-phone {
  margin-right: 5px;
}
